{% extends 'base.html' %}
{% load static %}
{% load feedback_tags %}

{% block title %}Проверить мое обращение{% endblock %}


{% block content %}
<div class="container pt-4">
  <div class="row justify-content-center  pb-4">
    <div class=" col-md-6  text-center">
      <h1 class="text-center pb-4">Проверить мой фидбек</h1>
      <form method="POST">
        {% csrf_token %}
        {% for form_item in form %}
          <div class="form-group">

            <label for="{{ form_item.id_for_label }}">{{ form_item.label }}</label>
            {% for error in form_item.errors %}
              <p class="form-error text-danger">{{ error }}</p>
            {% endfor %}
            <p>{{ form_item }}</p>
            {% if form_item.help_text %}
              <p><small class="form-text text-muted">{{ form_item.help_text }}</small></p>
            {% endif %}
          </div>
        {% endfor %}
        {% for message in messages %}
          <p class="form-status {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}text-danger{% else %}text-success{% endif %}">{{ message }}</p>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Найти">
      </form>
    </div>

  </div>
  <div class="text-center">
      {% if feedbacks %}
        {% for feedback in feedbacks %}
          {% id_encode feedback_id=feedback.id as feedback_id_code %}
          <a href="{% url 'feedback:feedback_detail' feedback_id_code=feedback_id_code %}">
            <p class="mb-0"><strong>Создано: {{ feedback.created_on }}</strong></p>
            <p><small>Статус: {{ feedback.get_status_display }}</small></p>
          </a>
        {% endfor %}
      {% endif %}
    </div>
</div>
{% endblock %}
