{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Обратная связь" %}{% endblock %}


{% block content %}
<div class="container pt-4">
  <div class="row justify-content-center">
    <div class=" col-md-6  text-center">
      <h1 class="text-center pb-4">{% trans "Форма обратной связи" %}</h1>

      <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {% for form_item in form %}
          <div class="form-group">
            <label for="{{ form_item.id_for_label }}">{{ form_item.label }}</label>
            {% for error in form_item.errors %}
              <p class="form-error text-danger">{{ error }}</p>
            {% endfor %}
            <p>{{ form_item }}</p>
            {% if form_item.help_text %}
              <p><small class="form-text text-muted">{{ form_item.help_text }}</small></p>
            {% endif %}
          </div>
        {% endfor %}
        {% for message in messages %}
          <p class="form-status {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}text-danger{% else %}text-success{% endif %}">{{ message }}</p>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="{% trans 'Отправить письмо' %}">
      </form>

    </div>
  </div>
</div>
{% endblock %}
