{% load static %}

{% for error in form.non_field_errors %}
  {{ error|escape }}
{% endfor %}

<form action="" method="POST">
  {% csrf_token %}

  {% for field in form %}
    <div class="form-group">
      {{ field.error }}
      <label for="{{ field.id_for_label }}">
        {{ field.label }}
          {% if field.field.required %}
            <span>*</span>
          {% endif %}
      </label>
      {{ field }}
    </div>
    <div class="form-help-text">
      {% if field.help_text %}
        <small id="{{ field.id_for_label }}-help">
          {{ field.help_text|safe }}
        </small>
      {% endif %}
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-outline-dark me-2">{{ btn_text }}</button>
</form>
