<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load thumbnail %}
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

  <link rel="apple-touch-icon" sizes="180x180" href="{% get_media_prefix %}favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{% get_media_prefix %}favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{% get_media_prefix %}avicon/favicon-16x16.png">
  <link rel="manifest" href="{% get_media_prefix %}favicon/site.webmanifest">
  <link rel="mask-icon" href="{% get_media_prefix %}favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

</head>

<body onload="SetDate({% now 'U' %} * 1000);">

  {% include "includes/header.html" %}

  <main>
    <div class="container">
    {% block content %}{% endblock %}
    </div>
  </main>

  {% include "includes/footer.html" %}

</body>

<script>
function SetDate(servertime){
    var now = new Date();
    var localtime = now.getTime();

    var diff = Math.abs(localtime - servertime);
    var diffHours = diff / (1000 * 60 * 60);

    if (diffHours <= 24) {
      var footerdate = document.getElementById('footer-date');
      footerdate.textContent  = now.getFullYear();
    }

}
</script>
</html>