{% load static %}
{% load i18n %}

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div  class="col-md-2 d-flex align-items-center" >
      <span class="mb-3 mb-md-0 text-muted" id="footer-date" > {% now "Y" %}</span>
    </div>
    <div class="col-md-10 d-flex align-items-center">
      <a href="{% url 'feedback:feedback' %}" type="button" class="btn btn-outline-black me-2">{% trans "Обратная связь" %}</a>
      <a href="{% url 'feedback:feedback_check' %}" type="button" class="btn btn-outline-black me-2">{% trans "Проверить моё обращение" %}</a>
    </div>
  </footer>
</div>
<script>
function SetDate(){
  var servertime = {% now 'U' %} * 1000;

  var now = new Date();
  var localtime = now.getTime();

  var diff = Math.abs(localtime - servertime);
  var diffHours = diff / (1000 * 60 * 60);

  if (diffHours < 24) {
    var footerdate = document.getElementById('footer-date');
    footerdate.textContent  = now.getFullYear();
  }

}
</script>