{% load static %}
{% load i18n %}

<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="{% url 'homepage:homepage' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="{% get_media_prefix %}/logo/logo.svg" class="header-logo">
      </a>

      {% with request.resolver_match.view_name as view_name %}

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'homepage:homepage' %}" class="nav-link px-2 {% if view_name == 'homepage:homepage' %} text-secondary {% else %} text-white {% endif %}">{% trans "На главную" %}</a></li>
        <li><a href="{% url 'about:description' %}" class="nav-link px-2 {% if view_name == 'about:description' %} text-secondary {% else %} text-white {% endif %}">{% trans "О проекте" %}</a></li>
        <li><a href="{% url 'catalog:item_list' %}" class="nav-link px-2 {% if view_name == 'catalog:item_list' %} text-secondary {% else %} text-white {% endif %}">{% trans "Список товаров" %}</a></li>
      </ul>
      {% endwith %}

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">{% trans "Войти" %}</button>
        <button type="button" class="btn  btn-primary me-2">{% trans "Зарегистрироваться" %}</button>
      </div>
    </div>
  </div>
</header>
<script>
function SetDate(){
  var servertime = {% now 'U' %} * 1000;

  var now = new Date();
  var localtime = now.getTime();

  var diff = Math.abs(localtime - servertime);
  var diffHours = diff / (1000 * 60 * 60);

  if (diffHours < 24) {
    var footerdate = document.getElementById('footer-date');
    footerdate.textContent  = now.getFullYear();
  }

}
</script>