{% load thumbnail %}
<div class="col-sm-4">
    <div class="card mb-3">
      {% thumbnail item.image.image_main "300x300" padding=True as im %}
        <img src="{{ im.url }}"  width="{{ im.width }}" class="mx-auto">
      {% endthumbnail %}

      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">{{ item.text|truncatewords:10|safe }}</p>
        <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Перейти</a>
      </div>
    </div>
</div>